.header
  .header_left
    = link_to root_path, class: "header_left_title" do
      ToDo_Note
  .header_center
    - if @group.present?
      %i.fas.fa-book
      = @group.name
  .header_right
    = link_to edit_user_path(current_user), class: "header_right_edit" do
      %i.fas.fa-user-cog
        %span.fa-user-cog_text
          = current_user.name