.option
  = link_to edit_group_path(@group.id), class: "option_note_edit" do
    .option_note_edit_text
      %i.fas.fa-pencil-alt
      Note編集
  = link_to group_path(@group.id) , method: :delete, class: "option_note_edit" do
    .option_note_edit_text
      %i.fas.fa-eraser
      Note削除
  .option_member
    %span.option_member_text
      共有メンバー
  - @group.users.each do |u|
    .option_list
      = u.name