.option
  .option_edit
    - if current_user.id == @group.created_by
      = link_to edit_group_path(@group.id), class: "option_edit_note" do
        .option_edit_note_text
          %i.fas.fa-pencil-alt
          Note編集
      = link_to group_path(@group.id) , method: :delete, class: "option_edit_note", data: { confirm: 'このノートを削除します。よろしいですか？' } do
        .option_edit_note_text
          %i.fas.fa-eraser
          Note削除
  .option_member
    .option_member_create
      Note作成者
      .option_member_create_name
        - aaa = Group.find(params[:group_id])
        - bbb = aaa.created_by
        - ccc = User.find(bbb)
        = "・" + ccc.name
    .option_member_top
      共有メンバー
    .option_member_name
      - @group.users.each do |u|
        %span
          = "・" + u.name