.member
  .member_note
    %span.member_note_edit
      = link_to edit_group_path(@group.id), class: "member_note_edit_link" do
        Note編集
        %i.fas.fa-pencil-alt
    = link_to "/groups/:group.id" , method: :delete do
      Note削除
  .member_top
    %span.member_top_text
      共有メンバー
  - @group.users.each do |u|
    .member_list
      = u.name