.todo
  .todo_input
    .todo_input_text
      %input.todo_input_text_box{placeholder: "メモを追加", type: "text"}
    .todo_input_menu
      .todo_input_menu_time
        時間
        %input.todo_input_menu_time_box{type: "time", step: "600"}/
      
  

  .todo_list
    メモ一覧