@import "reset";
@import "font-awesome-sprockets";
@import "./font-awesome";
@import "note";
@import "header";
@import "option";
@import "group_list";
@import "user";
@import "group";

* {
  box-sizing: border-box;
  font-family: 'Hiragino Mincho Pro';
}
.main{
  display: flex;
}