.audio{
  position: fixed;
  bottom:100px;
  right:600px;
  height: 22px;
  width: 280px;
  color: #222;
  .audiojs{
    height: 22px;
    background: #404040;
    width: 280px;
    border-radius: 4px;
    .play-pause{
      width: 25px;
      height: 22px;
      padding:0px;
      position: relative;
      .play{
        height: 22px;
        position: absolute;
        top:-2px;
      }
      .pause{
        height: 22px;
        position: absolute;
        top:-2px;
      }
      .loading{
        height: 22px;
        position: absolute;
        top:-2px;
      }
      .error{
        height: 22px;
        position: absolute;
        top:-2px;
      }
    }
    .scrubber{
      background: #5a5a5a;
      width: 150px;
      height: 10px;
      margin: 6px;
      .progress{
        height: 10px;
        width: 0px;
        background: #ccc;
      }
      .loaded{
        height: 10px;
        background: #000;
        width: 140px;
      }
    }
    .time{
      float: left;
      height: 22px;
      line-height: 22px;
      padding:0px 0px 0px 5px;
      .played{
      }
      .duration{
      }
    }
    .error-message{
      height: 22px;
      line-height: 22px;
    }
  }
}