.audio{
  position: fixed;
  bottom:4px;
  left:15vw;
  height: 35px;
  width: 75vw;
  .audiojs{
    height: 35px;
    width: 75vw;
    box-shadow:0px 0px 0px #000000;
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    background-color: #ffffff;
    background-image: repeating-linear-gradient(35deg,
    #e7e7e7, #e7e7e7 3px,transparent 0, transparent 7px);
    .play-pause{
      width: 35px;
      height: 35px;
      padding:0px;
      position: relative;
      border-right:1px #ccc solid;
      & p{
        height: 35px;
        width: 35px;
        position: absolute;
      }
      .play{
        background: image-url(play) center center no-repeat;
        background-size:12px;
      }
      .pause{
        background: image-url(pause) center center no-repeat;
        background-size:12px;
      }
      .loading{
        background: image-url(loading) center center no-repeat;
        background-size:14px;
        animation: r1 1s linear infinite;
      }
      @keyframes r1 {
        0%   { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
      .error{
        background: image-url(error) center center no-repeat;
        background-size:12px;
      }
    }
    .scrubber{
      background: #5a5a5a;
      width: 52vw;
      height: 18px;
      margin: 7px;
      margin-left:14px;
      border-top: 0px solid #000;
      .progress{
        height: 18px;
        width: 0px;
        background-color: #7388ff;
        background-image: repeating-linear-gradient(35deg,
        #e7e7e7, #e7e7e7 3px,transparent 0, transparent 7px);
      }
      .loaded{
        height: 18px;
        background: rgb(230, 230, 230);
        width: 140px;
      }
    }
    .time{
      float: left;
      height: 35px;
      line-height: 35px;
      padding:0px 0px 0px 15px;
      color:black;
      text-shadow:0 0 3px #fff,0 0 3px #fff,0 0 3px #fff,0 0 3px #fff,0 0 3px #fff,0 0 3px #fff,0 0 3px #fff,0 0 3px #fff,0 0 3px #fff,0 0 3px #fff,0 0 3px #fff,0 0 3px #fff,0 0 3px #fff,0 0 3px #fff,0 0 3px #fff,0 0 3px #fff;
      font-size:14px;
      border-left:1px #ccc solid;
      .played{
        color:black;
      }
      .duration{
        color:black;
      }
    }
    .error-message{
      height: 35px;
      line-height: 35px;
    }
  }
}