.group{
  background-color:#eeeeee;
  width: 15vw;
  height: calc(100vh - 50px);
  padding: 20px;
  &_top{
    margin-bottom:20px;
    &_note{
      &_list{
        &_link{
          color: white;
          background-color: rgb(112, 112, 253);
          padding:5px;
          border-radius: 2px;
          text-decoration: none;
        }
      }
    }
  }
  &_room{
    &_list{
      margin-bottom:10px;
      text-decoration: none;
      &_content{
        border-left:3px #ccc solid;
        border-right:3px #ccc solid;
        &_name{
          font-size:14px;
          color:black;
          margin-left:5px;
          &_text{
            text-decoration: none;
            .fa-star{
              font-size:12px;
            }
          }
        }
        &_note{
          font-size:12px;
          color:black;
          margin-bottom:15px;
          margin-left:5px;
        }
      }
    }
  }
}