.note_group{
  width: 100%;
  height: 100vh;
  &_content{
    width: 800px;
    height: 600px;
    margin:0 auto;
    padding-top:100px;
    &_title{
      font-size:25px;
      text-align: center;
    }
    &_name{
      font-size:20px;
      margin:30px auto;
      text-align: center;
      color:#5f5f5f;
    }
    &_error{
      text-align: center;
      margin-bottom:25px;
      li{
        color: red;
      }
    }
    &_field{
      padding:0px 250px;
      &_name{
        &_label{
        }
        &_input{
          text-align: center;
          &_text{
            height: 50px;
            width: 300px;
            border-radius: 4px;
            font-size:14px;
            padding-left:10px;
            outline: none;
            border:2px #e2e2e2 solid;
            margin-bottom:25px;
            &:focus{
              border-color: rgba(51, 51, 187, 0.534);
            }
          }
        }
      }
      &_search{
        &_input{
          height: 50px;
          width: 300px;
          border-radius: 4px;
          font-size:14px;
          padding-left:10px;
          outline: none;
          border:2px #e2e2e2 solid;
          &:focus{
            border-color: rgba(51, 51, 187, 0.534);
          }
        }
      }
      &_member{
        margin-top:25px;
      }
      &_btn{
        &_text{
          width: 300px;
          height: 40px;
          font-size:16px;
          padding:10px 10px;
          border-style: none;
          border-radius: 5px;
          box-shadow: 0px 0px 3px gray;
          margin-top:15px;
          transition: .4s;
          outline: none;
          letter-spacing: 6px;
          &:hover{
            cursor: pointer;
            background: radial-gradient(#677eff,#cccdff);
            border-color: #9193ff;
            color: #FFF;
          }
          &:focus{
            border-color: rgba(51, 51, 187, 0.534);
          }
        }
      }
    }
  }
}
#group_users{
  overflow: scroll;
  max-height: 200px;
}
.group_user {
  padding: 0 15px;
  line-height: 30px;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  &:after {
    content: "";
    clear: both;
    display: block;
  }
  &_name {
    float: left;
  }
  &_btn {
    float: right;
    display: inline-block;
    cursor: pointer;
    &_add {
      color: #38aef0;
    }
    &_remove {
      color: #f05050;
    }
  }
}
#user-search-result{
  max-height: 80px;
  overflow: scroll;
}