.note_group{
  width: 100%;
  height: 100vh;
  &_content{
    width: 800px;
    height: 600px;
    margin:0 auto;
    padding-top:150px;
    &_title{
      font-size:25px;
      text-align: center;
    }
    &_name{
      font-size:20px;
      margin:30px auto;
      text-align: center;
      color:#5f5f5f;
    }
    &_error{
      text-align: center;
      margin-bottom:25px;
      li{
        color: red;
      }
    }
    &_field{
      padding:0px 250px;
      &_name{
        &_label{
        }
        &_input{
          text-align: center;
          &_text{
            height: 50px;
            width: 300px;
            border-radius: 4px;
            font-size:14px;
            padding-left:10px;
            outline: none;
            border:2px #e2e2e2 solid;
            margin-bottom:25px;
            &:focus{
              border-color: rgba(51, 51, 187, 0.534);
            }
          }
        }
      }
      &_member{
        margin-bottom:25px;
        &_label{
          margin-bottom:5px;
        }
        &_check{

        }
      }
      &_btn{
        &_text{
          width: 300px;
          height: 40px;
          font-size:16px;
          padding:10px 10px;
          border-style: none;
          border-radius: 5px;
          box-shadow: 0px 0px 3px gray;
          margin-top:15px;
          transition: .4s;
          outline: none;
          letter-spacing: 6px;
          &:hover{
            cursor: pointer;
            background: radial-gradient(#677eff,#cccdff);
            border-color: #9193ff;
            color: #FFF;
          }
          &:focus{
            border-color: rgba(51, 51, 187, 0.534);
          }
        }
      }
    }
  }
}