.note{
  width: 75vw;
  height: calc(100vh - 50px);
  padding: 20px;
  &_input{
    background-color: #ccc;
    margin-bottom:30px;
    &_text{
      &_box{
        width: 100%;
        line-height: 40px;
        font-size:20px;
        outline: none;
      }
      &_box:focus{
        border-color: rgba(92, 92, 235, 0.534);
      }
    }
    &_menu{
      display: flex;
      height: 30px;
      &_time{
        &_box{
        }
      }
    }
  }
}
.not-note{
  width: 85vw;
  height: calc(100vh - 50px);
  padding: 20px;
}