.note{
  width: 75vw;
  height: calc(100vh - 50px);
  padding: 20px;
  &_input{
    margin-bottom:5px;
    padding-bottom:15px;
    border-bottom:2px #ccc dashed;
    &_text{
      float: left;
      position: relative;
      &_box{
        width: 630px;
        line-height: 40px;
        font-size:20px;
        outline: none;
        padding:0px 10px;
      }
      &_box:focus{
        border-color: rgba(92, 92, 235, 0.534);
      }
      &_image{
        position: absolute;
        top:10px;
        right:15px;
        &_box{
          .fa-camera-retro{
            cursor: pointer;
          }
          .hidden{
            display: none;
          }
        }
      }
    }
    &_menu{
      display: flex;
      &_date{
        &_box{
          width:130px;
          line-height: 40px;
          margin-left:10px;
          padding:0px 10px;
          outline: none;
          &:focus{
            border-color: rgba(92, 92, 235, 0.534);
          }
          &:hover{
            cursor: pointer;
          }
        }
        &_time{
          
        }
        #note_scheduled_time_4i,#note_scheduled_time_5i{
          width:50px;
          height: 40px;
          outline: none;
          background-color: white;
          border-color: #ccc;
          &:focus{
            border-color: rgba(92, 92, 235, 0.534);
          }
          &:hover{
            cursor: pointer;
          }
        }
        #note_scheduled_time_4i{
          margin-left:10px;
        }
      }
      &_btn{
        &_text{
          display: inline-block;
          text-align: left;
          border: 2px solid #9193ff;
          font-size: 16px;
          color: #9193ff;
          text-decoration: none;
          font-weight: bold;
          padding: 10px 26px;
          border-radius: 4px;
          transition: .4s;
          letter-spacing: 6px;
          margin-left:35px;
          outline: none;
        }
        &_text:hover{
          cursor: pointer;
          background:#9193ff;
          border-color: #9193ff;
          color: #FFF;
        }
      }
    }
  }
  &_list{
    height: 670px;
    overflow: scroll;
    position: relative;
    height: calc(100vh - 50px - 90px);
    &::-webkit-scrollbar{
      display:none;
    }
    &_content{
      display:flex;
      padding-bottom:10px;
      margin-bottom:5px;
      border-bottom:1px #ccc dashed;
      &_left{
        width: 800px;
        &_text{
          &_date{
            display: flex;
            &_date{
              &_text{
              }
            }
            &_time{
              &_text{
              }
            }
          }
        }
      }
      &_right{
        position: absolute;
        right:0px;
        display: flex;
        &_left{
          margin-right:20px;
          font-size:10px;
          color:gray;
          &_name{
          }
          &_time{
          }
        }
        &_right{
          background-color: rgb(0, 89, 255);
          border-radius: 4px;
          padding:3px 5px 0px;
          &_delete{
            text-decoration: none;
            color:white;
          }
        }
      }
    }
  }
}
.not-note{
  width: 85vw;
  height: calc(100vh - 50px);
  padding: 20px;
}