.note{
  width: 75vw;
  height: calc(100vh - 50px);
  padding: 20px;
  &_input{
    background-color: #ccc;
    margin-bottom:30px;
    &_text{
      &_box{
        width: 100%;
        line-height: 40px;
        font-size:20px;
        outline: none;
      }
      &_box:focus{
        border-color: rgba(92, 92, 235, 0.534);
      }
    }
    &_menu{
      display: flex;
      height: 30px;
      &_time{
        &_box{
        }
      }
    }
  }
  &_list{
    height: 647px;
    overflow: scroll;
    position: relative;
    &_content{
      display:flex;
      padding-bottom:10px;
      margin-bottom:5px;
      border-bottom:1px #ccc dashed;
      &_left{
        width: 800px;
      }
      &_right{
        position: absolute;
        right:0px;
        &_name{
          font-size:10px;
        }
        &_time{
          font-size:10px;
        }
      }
    }
  }
}
.not-note{
  width: 85vw;
  height: calc(100vh - 50px);
  padding: 20px;
}